/* Sass variables. I prefer to have them in one file for easy reference. */

$full:        		100%;
$half:        		100% / 2;

/* 
 * Media Queries Breakpoints
 * Can be tweaked if need be.
 */
$small:       		30em; // Portrait mobile to landscape mobile
$medium:      		50em; // Portrait tablet to landscape tablet
$large:       		68.750em; // Small desktop to large desktop

/* 
 * Example padding for grid
 * Is not required but you may like spacing between your columns.
 */
$col-padding: 		1em;

/* Grid widths
 * ----------------------------------------------
 * Feel free to change this to how many columns
 * you want this grid system to have.
 */
$start:       		1;
$end:         		12;

/* Commons widths
 * ----------------------------------------------
 * A list that contains common percentage widths
 * as column classes e.g col-60, col-40, col-75
 * customise this list as you require.
 */
$common: 25, 40, 60, 75;

/* Font-family variable */
$font-family: 'Open Sans', sans-serif;

/* Set margin-bottom for typography */
$typography-margin: 1.5rem;

/* Container width (grid wrapper). */
$container-width: 100%;

/* 
 * Container width for content (content grid wrapper). 
 * Feel free to change this width to whatever you please.
 * I generally prefer 1280px for main content.
 */
$container-content-width: 1280px;

/* Demo Colors for index page */
$gray-color:	    #eee;
$mine-shaft-color:	#333;